age_and_deaths.csv
country_vaccinations.csv
covid_jp.csv
covid_rawdata.csv
covid_world.csv
covid19_01.csv
covid19_02.csv
covid19.csv
covid19_03.csv
GDP.csv
germany.csv
owid_covid_data.csv
total case world.xlsx
world.csv
csv_data/vaccination.csv
csv_data/world life expectancy.xlsx
csv_data/WorldGDPCovidData.csv
vaccine.ipynb
.vscode/settings.json
covid.db
